.lightblue-background {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  background-color:#5c9ce0;
  background-image: url(../images/fabric-of-squares.png);
  margin-top: 120px;
  width: 100%;  
}


