.new-tweet {
  background-color: transparent;
  max-width: 90%;
  padding: 25px;
  width: 100%;
}

.error-msg {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
  margin: auto;
}

.new-tweet > h2 {
  display: flex;
  justify-content: center;
}

#tweet-text {
  background: transparent;
  border: none;
  border-bottom: solid #656565;
  font-style: italic;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 50px;
  outline: none;
  resize: none;
  width: 100%;
}

.tweet-button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  background-color: #fe938c;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  margin: 0px;
  border: 2px solid #0072a3;
  font-weight: bold;
}

output {
  display: flex;
  align-self: flex-end;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: -40px;
}

.red {
  color: red;
}
