.new-tweet {
  background-color: transparent;
  max-width: 90%;
  padding: 25px;
  width: 100%;
}

label {   /* maybe give id to "what are you humming about? later to specify more*/
  display: flex;
  color: burlywood;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  background: transparent;
  border: none;
  border-bottom: solid #656565;
  color: burlywood;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 50px;
  outline: none;
  resize: none;
  width: 100%;
}

.tweet-button-counter {
  display: flex;
  flex-direction: row;
  font-family: 'Bungee';
  justify-content: space-between;
  margin-top: 15px;
}

button {
  background-color: #4056A1;
  border: none;
  color: white;
  font-family: 'Bungee';
}

button:hover {
  background-color: #4056A1;
  cursor: pointer;
}

output {
  display: flex;
  align-self:flex-end;
  font-family: 'Bungee';
  margin-top: -40px;
}

.red {
  color: red;
}
