#tweets-container {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  word-break: break-all;
}

.article-tweets {
  border: 3px solid #5d576b;
  border-radius: 12px;
  margin-bottom: 40px;
}

.article-tweets:hover {
  box-shadow: 5px 5px #fe938c;
}

.article-tweet-header {
  display: flex;
  justify-content: space-between;
}

.user-profile {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 15px;
}

.user-icon {
  width: 80px;
}

.username {
  color: #5d576b;
  padding-right: 10px;
}

.tweet-text {
  border-bottom: 3px #656565 solid;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0;
  padding-bottom: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.date {
  font-size: 17px;
  margin-left: 25px;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-self: center;
  padding-right: 10px;
}

.icons > i {
  color: #0072a3;
}

.icons i:hover {
  color: #d496a7;
  cursor: pointer;
}
